In [2]:
import pandas as pd

train = pd.read_csv("../input/train.csv")

In [3]:
#get data where is_booking==1
train = train[train.is_booking==1]

In [4]:
train.columns

Index([u'date_time', u'site_name', u'posa_continent', u'user_location_country',
       u'user_location_region', u'user_location_city',
       u'orig_destination_distance', u'user_id', u'is_mobile', u'is_package',
       u'channel', u'srch_ci', u'srch_co', u'srch_adults_cnt',
       u'srch_children_cnt', u'srch_rm_cnt', u'srch_destination_id',
       u'srch_destination_type_id', u'is_booking', u'cnt', u'hotel_continent',
       u'hotel_country', u'hotel_market', u'hotel_cluster'],
      dtype='object')

In [5]:
train.shape

(3000693, 24)

In [7]:
train.to_csv('train_isb1.csv',sep=',', encoding='utf-8')

In [8]:
train = train.drop(['site_name','posa_continent','channel','srch_children_cnt','srch_adults_cnt','srch_rm_cnt','cnt','hotel_continent'], axis=1)

In [9]:
train.columns

Index([u'date_time', u'user_location_country', u'user_location_region',
       u'user_location_city', u'orig_destination_distance', u'user_id',
       u'is_mobile', u'is_package', u'srch_ci', u'srch_co',
       u'srch_destination_id', u'srch_destination_type_id', u'is_booking',
       u'hotel_country', u'hotel_market', u'hotel_cluster'],
      dtype='object')

In [15]:
train = train.drop(['is_mobile'],axis=1)

In [17]:
train.dropna()

,date_time,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_package,srch_ci,srch_co,srch_destination_id,srch_destination_type_id,is_booking,hotel_country,hotel_market,hotel_cluster
1,2014-08-11 08:22:12,66,348,48862,2234.2641,12,1,2014-08-29,2014-09-02,8250,1,1,50,628,1
79,2014-01-03 16:30:17,66,462,41898,2454.8588,1482,1,2014-02-22,2014-02-27,12009,1,1,50,680,95
81,2014-01-03 16:44:56,66,462,41898,2454.8588,1482,1,2014-02-22,2014-02-27,12009,1,1,50,680,95
83,2014-01-03 17:11:36,66,462,41898,2454.8588,1482,1,2014-02-24,2014-02-27,12009,1,1,50,680,95
128,2014-10-29 14:32:19,66,174,40365,8456.8294,1713,0,2014-11-11,2014-11-12,1571,3,1,5,89,38
133,2014-12-05 09:58:15,66,174,21855,8393.1607,1713,0,2014-12-11,2014-12-12,12861,5,1,5,89,81
372,2014-04-19 09:44:32,66,174,16634,3.3379,3313,0,2014-04-19,2014-04-21,61531,6,1,50,1241,91
401,2014-10-18 18:35:06,66,174,46432,112.9832,3313,0,2014-10-24,2014-10-26,11835,1,1,50,633,54
408,2013-11-09 07:45:52,66,189,2871,2586.0222,3925,0,2013-12-24,2013-12-26,4777,3,1,50,967,42
410,2013-11-09 07:48:54,66,189,2871,2586.0222,3925,0,2013-12-28,2013-12-30,4777,3,1,50,967,42
414,2014-05-10 10:17:00,66,189,2871,1515.3055,3925,0,2014-05-10,2014-05-11,26328,1,1,50,871,7
753,2013-03-14 15:16:57,46,171,43409,881.0374,4539,0,2013-06-12,2013-06-13,21501,3,1,208,1274,62
754,2013-04-09 18:06:34,46,171,46087,3906.9076,4539,1,2013-09-07,2013-09-13,8267,1,1,50,675,19
755,2013-06-07 13:34:25,46,347,30592,3798.8516,4539,1,2013-12-02,2013-12-07,8267,1,1,50,675,56
756,2013-06-12 11:58:14,46,347,30592,1225.6581,4539,1,2013-10-28,2013-11-01,8245,1,1,22,245,20
759,2013-08-21 15:23:09,46,171,15334,1757.4030,4539,0,2013-08-31,2013-09-05,12890,5,1,0,1447,8
763,2013-09-27 17:36:20,46,171,19639,305.0827,4539,1,2014-05-01,2014-05-04,8213,1,1,68,275,68
764,2013-09-27 17:36:55,46,171,19639,305.0827,4539,1,2014-05-01,2014-05-04,8213,1,1,68,275,68
768,2013-11-17 08:32:18,46,171,43387,190.4292,4539,0,2013-11-30,2013-12-01,8813,1,1,107,186,82
774,2013-11-20 12:03:02,46,171,15334,5655.3159,4539,0,2014-07-31,2014-08-02,8250,1,1,50,628,1
776,2013-11-21 11:15:09,46,171,19639,5761.2438,4539,0,2014-08-19,2014-08-22,8279,1,1,50,1230,91
781,2014-02-08 13:03:02,46,171,43387,1103.4275,4539,0,2014-06-19,2014-06-24,8245,1,1,22,245,46
783,2014-03-06 11:03:15,46,171,43387,593.3261,4539,0,2014-06-28,2014-07-01,5080,3,1,204,1762,61
785,2014-03-07 16:03:39,46,171,15334,617.5756,4539,0,2014-07-01,2014-07-06,21022,6,1,204,1762,85
787,2014-03-14 11:32:05,46,171,16896,5869.8608,4539,0,2014-08-19,2014-08-22,8254,1,1,50,365,72
793,2014-03-25 16:08:52,46,171,19639,69.0572,4539,0,2014-03-28,2014-03-30,55208,1,1,204,941,36
796,2014-04-28 12:16:48,46,171,15334,4705.7185,4539,0,2014-08-09,2014-08-21,11439,1,1,163,1503,65
818,2014-08-01 12:22:27,46,171,15334,119.4620,4539,0,2014-08-01,2014-08-02,17459,5,1,144,24,46
838,2014-09-17 18:02:52,46,171,43387,3914.9942,4539,1,2014-10-30,2014-11-04,8267,1,1,50,675,40
840,2014-09-29 17:16:00,46,171,43387,614.5652,4539,0,2015-06-29,2015-07-02,8788,1,1,77,2,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37669592,2013-04-16 11:39:01,66,448,25538,1217.0480,1194570,1,2013-05-20,2013-05-21,8243,1,1,50,409,98
37669617,2014-06-11 13:07:18,66,196,2428,821.2940,1194570,1,2014-12-04,2014-12-07,11335,1,1,136,196,84
37669623,2013-06-11 16:53:22,182,416,21185,690.8617,1194592,0,2013-06-19,2013-06-23,100,1,1,192,2080,58
37669842,2013-07-29 10:03:01,46,414,7317,94.6031,1195757,0,2013-08-13,2013-08-14,8739,1,1,144,4,85
37669879,2013-10-09 11:23:10,66,220,8159,7712.5038,1195787,0,2013-10-27,2013-10-31,8282,1,1,126,265,67
37669881,2013-10-09 11:26:16,66,220,8159,7712.5038,1195787,0,2013-10-29,2013-10-31,52258,3,1,126,265,67
37669883,2013-10-14 09:27:57,66,220,8159,7712.5038,1195787,0,2013-10-29,2013-11-04,52258,3,1,126,265,67
37669885,2013-10-14 09:30:42,66,220,8159,7712.5038,1195787,0,2013-11-01,2013-11-04,52258,3,1,126,265,67
37669888,2013-10-21 08:00:45,66,220,8159,7712.5038,1195787,0,2013-10-31,2013-11-04,52258,3,1,126,265,67
37669891,2014-01-09 13:13:18,66,220,8159,4650.5533,1195787,0,2014-01-12,2014-01-17,10984,3,1,135,281,30
37669893,2014-01-11 06:13:21,66,220,8159,1740.5664,1195787,0,2014-01-11,2014-01-12,21645,1,1,50,653,41
37669895,2014-01-11 12:43:28,66,220,8159,473.9309,1195787,0,2014-01-11,2014-01-12,12410,5,1,50,677,48
37669898,2014-01-19 15:12:54,66,220,8159,2720.3507,1195787,0,2014-01-19,2014-01-20,12273,6,1,50,663,18
37669903,2014-01-21 15:00:02,66,220,8159,4861.0077,1195787,0,2014-01-22,2014-01-25,12548,5,1,50,212,33
37669911,2014-02-12 16:38:04,66,220,8159,1402.7473,1195787,0,2014-02-14,2014-02-17,1019,1,1,119,2065,38
37669913,2014-03-06 15:05:12,66,220,8159,1738.0744,1195787,0,2014-03-08,2014-03-09,17264,5,1,50,653,7
37669918,2014-05-28 12:04:04,66,220,8159,4932.6339,1195787,0,2014-07-03,2014-07-06,8806,1,1,105,22,58
37669934,2014-08-05 08:10:38,66,220,8159,2595.9738,1195787,0,2014-10-03,2014-10-04,24126,6,1,50,363,73
37669936,2014-08-05 08:27:32,66,220,8159,2595.9738,1195787,0,2014-10-03,2014-10-04,8838,1,1,50,363,73
37669948,2014-11-29 06:43:51,66,220,8159,988.3810,1195787,0,2014-12-03,2014-12-04,7000,3,1,50,1058,47
37670027,2014-02-19 18:59:19,1,229,36480,115.2412,1197008,0,2014-02-28,2014-03-01,18046,1,1,105,1808,81
37670070,2013-04-05 23:45:12,77,462,3492,2047.0196,1197030,0,2013-04-08,2013-04-09,20896,6,1,63,1258,98
37670177,2013-11-09 00:14:09,77,871,36643,1558.0743,1197569,0,2013-12-22,2013-12-23,8792,1,1,34,55,90
37670236,2014-08-03 09:29:24,205,155,19334,54.1568,1197813,0,2014-08-03,2014-08-04,5950,3,1,198,399,49
37670266,2013-06-21 09:53:08,205,135,27655,1181.4133,1198099,1,2013-07-02,2013-07-06,12267,6,1,50,1230,91
37670275,2013-10-22 22:07:42,66,174,26232,113.0804,1198182,0,2013-10-23,2013-10-24,24144,6,1,50,967,7
37670277,2013-10-30 15:34:11,66,174,24103,254.2758,1198182,0,2013-10-30,2013-10-31,24144,6,1,50,967,42
37670281,2014-01-27 15:02:51,66,174,26232,535.0339,1198182,1,2014-02-23,2014-02-27,8273,1,1,50,660,68
37670285,2014-07-15 10:37:42,66,174,26232,649.6568,1198182,0,2014-07-27,2014-07-28,18811,1,1,50,592,77
37670292,2014-09-18 08:52:42,66,462,12565,106.4274,1198182,0,2014-09-18,2014-09-19,18811,1,1,50,592,42

In [20]:
train.drop(['is_booking'],axis=1)

,date_time,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_package,srch_ci,srch_co,srch_destination_id,srch_destination_type_id,hotel_country,hotel_market,hotel_cluster
1,2014-08-11 08:22:12,66,348,48862,2234.2641,12,1,2014-08-29,2014-09-02,8250,1,50,628,1
79,2014-01-03 16:30:17,66,462,41898,2454.8588,1482,1,2014-02-22,2014-02-27,12009,1,50,680,95
81,2014-01-03 16:44:56,66,462,41898,2454.8588,1482,1,2014-02-22,2014-02-27,12009,1,50,680,95
83,2014-01-03 17:11:36,66,462,41898,2454.8588,1482,1,2014-02-24,2014-02-27,12009,1,50,680,95
128,2014-10-29 14:32:19,66,174,40365,8456.8294,1713,0,2014-11-11,2014-11-12,1571,3,5,89,38
133,2014-12-05 09:58:15,66,174,21855,8393.1607,1713,0,2014-12-11,2014-12-12,12861,5,5,89,81
372,2014-04-19 09:44:32,66,174,16634,3.3379,3313,0,2014-04-19,2014-04-21,61531,6,50,1241,91
401,2014-10-18 18:35:06,66,174,46432,112.9832,3313,0,2014-10-24,2014-10-26,11835,1,50,633,54
408,2013-11-09 07:45:52,66,189,2871,2586.0222,3925,0,2013-12-24,2013-12-26,4777,3,50,967,42
410,2013-11-09 07:48:54,66,189,2871,2586.0222,3925,0,2013-12-28,2013-12-30,4777,3,50,967,42
414,2014-05-10 10:17:00,66,189,2871,1515.3055,3925,0,2014-05-10,2014-05-11,26328,1,50,871,7
753,2013-03-14 15:16:57,46,171,43409,881.0374,4539,0,2013-06-12,2013-06-13,21501,3,208,1274,62
754,2013-04-09 18:06:34,46,171,46087,3906.9076,4539,1,2013-09-07,2013-09-13,8267,1,50,675,19
755,2013-06-07 13:34:25,46,347,30592,3798.8516,4539,1,2013-12-02,2013-12-07,8267,1,50,675,56
756,2013-06-12 11:58:14,46,347,30592,1225.6581,4539,1,2013-10-28,2013-11-01,8245,1,22,245,20
759,2013-08-21 15:23:09,46,171,15334,1757.4030,4539,0,2013-08-31,2013-09-05,12890,5,0,1447,8
763,2013-09-27 17:36:20,46,171,19639,305.0827,4539,1,2014-05-01,2014-05-04,8213,1,68,275,68
764,2013-09-27 17:36:55,46,171,19639,305.0827,4539,1,2014-05-01,2014-05-04,8213,1,68,275,68
768,2013-11-17 08:32:18,46,171,43387,190.4292,4539,0,2013-11-30,2013-12-01,8813,1,107,186,82
774,2013-11-20 12:03:02,46,171,15334,5655.3159,4539,0,2014-07-31,2014-08-02,8250,1,50,628,1
776,2013-11-21 11:15:09,46,171,19639,5761.2438,4539,0,2014-08-19,2014-08-22,8279,1,50,1230,91
781,2014-02-08 13:03:02,46,171,43387,1103.4275,4539,0,2014-06-19,2014-06-24,8245,1,22,245,46
783,2014-03-06 11:03:15,46,171,43387,593.3261,4539,0,2014-06-28,2014-07-01,5080,3,204,1762,61
785,2014-03-07 16:03:39,46,171,15334,617.5756,4539,0,2014-07-01,2014-07-06,21022,6,204,1762,85
787,2014-03-14 11:32:05,46,171,16896,5869.8608,4539,0,2014-08-19,2014-08-22,8254,1,50,365,72
793,2014-03-25 16:08:52,46,171,19639,69.0572,4539,0,2014-03-28,2014-03-30,55208,1,204,941,36
796,2014-04-28 12:16:48,46,171,15334,4705.7185,4539,0,2014-08-09,2014-08-21,11439,1,163,1503,65
818,2014-08-01 12:22:27,46,171,15334,119.4620,4539,0,2014-08-01,2014-08-02,17459,5,144,24,46
838,2014-09-17 18:02:52,46,171,43387,3914.9942,4539,1,2014-10-30,2014-11-04,8267,1,50,675,40
840,2014-09-29 17:16:00,46,171,43387,614.5652,4539,0,2015-06-29,2015-07-02,8788,1,77,2,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37669592,2013-04-16 11:39:01,66,448,25538,1217.0480,1194570,1,2013-05-20,2013-05-21,8243,1,50,409,98
37669617,2014-06-11 13:07:18,66,196,2428,821.2940,1194570,1,2014-12-04,2014-12-07,11335,1,136,196,84
37669623,2013-06-11 16:53:22,182,416,21185,690.8617,1194592,0,2013-06-19,2013-06-23,100,1,192,2080,58
37669842,2013-07-29 10:03:01,46,414,7317,94.6031,1195757,0,2013-08-13,2013-08-14,8739,1,144,4,85
37669879,2013-10-09 11:23:10,66,220,8159,7712.5038,1195787,0,2013-10-27,2013-10-31,8282,1,126,265,67
37669881,2013-10-09 11:26:16,66,220,8159,7712.5038,1195787,0,2013-10-29,2013-10-31,52258,3,126,265,67
37669883,2013-10-14 09:27:57,66,220,8159,7712.5038,1195787,0,2013-10-29,2013-11-04,52258,3,126,265,67
37669885,2013-10-14 09:30:42,66,220,8159,7712.5038,1195787,0,2013-11-01,2013-11-04,52258,3,126,265,67
37669888,2013-10-21 08:00:45,66,220,8159,7712.5038,1195787,0,2013-10-31,2013-11-04,52258,3,126,265,67
37669891,2014-01-09 13:13:18,66,220,8159,4650.5533,1195787,0,2014-01-12,2014-01-17,10984,3,135,281,30
37669893,2014-01-11 06:13:21,66,220,8159,1740.5664,1195787,0,2014-01-11,2014-01-12,21645,1,50,653,41
37669895,2014-01-11 12:43:28,66,220,8159,473.9309,1195787,0,2014-01-11,2014-01-12,12410,5,50,677,48
37669898,2014-01-19 15:12:54,66,220,8159,2720.3507,1195787,0,2014-01-19,2014-01-20,12273,6,50,663,18
37669903,2014-01-21 15:00:02,66,220,8159,4861.0077,1195787,0,2014-01-22,2014-01-25,12548,5,50,212,33
37669911,2014-02-12 16:38:04,66,220,8159,1402.7473,1195787,0,2014-02-14,2014-02-17,1019,1,119,2065,38
37669913,2014-03-06 15:05:12,66,220,8159,1738.0744,1195787,0,2014-03-08,2014-03-09,17264,5,50,653,7
37669918,2014-05-28 12:04:04,66,220,8159,4932.6339,1195787,0,2014-07-03,2014-07-06,8806,1,105,22,58
37669934,2014-08-05 08:10:38,66,220,8159,2595.9738,1195787,0,2014-10-03,2014-10-04,24126,6,50,363,73
37669936,2014-08-05 08:27:32,66,220,8159,2595.9738,1195787,0,2014-10-03,2014-10-04,8838,1,50,363,73
37669948,2014-11-29 06:43:51,66,220,8159,988.3810,1195787,0,2014-12-03,2014-12-04,7000,3,50,1058,47
37670027,2014-02-19 18:59:19,1,229,36480,115.2412,1197008,0,2014-02-28,2014-03-01,18046,1,105,1808,81
37670070,2013-04-05 23:45:12,77,462,3492,2047.0196,1197030,0,2013-04-08,2013-04-09,20896,6,63,1258,98
37670177,2013-11-09 00:14:09,77,871,36643,1558.0743,1197569,0,2013-12-22,2013-12-23,8792,1,34,55,90
37670236,2014-08-03 09:29:24,205,155,19334,54.1568,1197813,0,2014-08-03,2014-08-04,5950,3,198,399,49
37670266,2013-06-21 09:53:08,205,135,27655,1181.4133,1198099,1,2013-07-02,2013-07-06,12267,6,50,1230,91
37670275,2013-10-22 22:07:42,66,174,26232,113.0804,1198182,0,2013-10-23,2013-10-24,24144,6,50,967,7
37670277,2013-10-30 15:34:11,66,174,24103,254.2758,1198182,0,2013-10-30,2013-10-31,24144,6,50,967,42
37670281,2014-01-27 15:02:51,66,174,26232,535.0339,1198182,1,2014-02-23,2014-02-27,8273,1,50,660,68
37670285,2014-07-15 10:37:42,66,174,26232,649.6568,1198182,0,2014-07-27,2014-07-28,18811,1,50,592,77
37670292,2014-09-18 08:52:42,66,462,12565,106.4274,1198182,0,2014-09-18,2014-09-19,18811,1,50,592,42

In [21]:
train.dropna()

,date_time,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_package,srch_ci,srch_co,srch_destination_id,srch_destination_type_id,is_booking,hotel_country,hotel_market,hotel_cluster
1,2014-08-11 08:22:12,66,348,48862,2234.2641,12,1,2014-08-29,2014-09-02,8250,1,1,50,628,1
79,2014-01-03 16:30:17,66,462,41898,2454.8588,1482,1,2014-02-22,2014-02-27,12009,1,1,50,680,95
81,2014-01-03 16:44:56,66,462,41898,2454.8588,1482,1,2014-02-22,2014-02-27,12009,1,1,50,680,95
83,2014-01-03 17:11:36,66,462,41898,2454.8588,1482,1,2014-02-24,2014-02-27,12009,1,1,50,680,95
128,2014-10-29 14:32:19,66,174,40365,8456.8294,1713,0,2014-11-11,2014-11-12,1571,3,1,5,89,38
133,2014-12-05 09:58:15,66,174,21855,8393.1607,1713,0,2014-12-11,2014-12-12,12861,5,1,5,89,81
372,2014-04-19 09:44:32,66,174,16634,3.3379,3313,0,2014-04-19,2014-04-21,61531,6,1,50,1241,91
401,2014-10-18 18:35:06,66,174,46432,112.9832,3313,0,2014-10-24,2014-10-26,11835,1,1,50,633,54
408,2013-11-09 07:45:52,66,189,2871,2586.0222,3925,0,2013-12-24,2013-12-26,4777,3,1,50,967,42
410,2013-11-09 07:48:54,66,189,2871,2586.0222,3925,0,2013-12-28,2013-12-30,4777,3,1,50,967,42
414,2014-05-10 10:17:00,66,189,2871,1515.3055,3925,0,2014-05-10,2014-05-11,26328,1,1,50,871,7
753,2013-03-14 15:16:57,46,171,43409,881.0374,4539,0,2013-06-12,2013-06-13,21501,3,1,208,1274,62
754,2013-04-09 18:06:34,46,171,46087,3906.9076,4539,1,2013-09-07,2013-09-13,8267,1,1,50,675,19
755,2013-06-07 13:34:25,46,347,30592,3798.8516,4539,1,2013-12-02,2013-12-07,8267,1,1,50,675,56
756,2013-06-12 11:58:14,46,347,30592,1225.6581,4539,1,2013-10-28,2013-11-01,8245,1,1,22,245,20
759,2013-08-21 15:23:09,46,171,15334,1757.4030,4539,0,2013-08-31,2013-09-05,12890,5,1,0,1447,8
763,2013-09-27 17:36:20,46,171,19639,305.0827,4539,1,2014-05-01,2014-05-04,8213,1,1,68,275,68
764,2013-09-27 17:36:55,46,171,19639,305.0827,4539,1,2014-05-01,2014-05-04,8213,1,1,68,275,68
768,2013-11-17 08:32:18,46,171,43387,190.4292,4539,0,2013-11-30,2013-12-01,8813,1,1,107,186,82
774,2013-11-20 12:03:02,46,171,15334,5655.3159,4539,0,2014-07-31,2014-08-02,8250,1,1,50,628,1
776,2013-11-21 11:15:09,46,171,19639,5761.2438,4539,0,2014-08-19,2014-08-22,8279,1,1,50,1230,91
781,2014-02-08 13:03:02,46,171,43387,1103.4275,4539,0,2014-06-19,2014-06-24,8245,1,1,22,245,46
783,2014-03-06 11:03:15,46,171,43387,593.3261,4539,0,2014-06-28,2014-07-01,5080,3,1,204,1762,61
785,2014-03-07 16:03:39,46,171,15334,617.5756,4539,0,2014-07-01,2014-07-06,21022,6,1,204,1762,85
787,2014-03-14 11:32:05,46,171,16896,5869.8608,4539,0,2014-08-19,2014-08-22,8254,1,1,50,365,72
793,2014-03-25 16:08:52,46,171,19639,69.0572,4539,0,2014-03-28,2014-03-30,55208,1,1,204,941,36
796,2014-04-28 12:16:48,46,171,15334,4705.7185,4539,0,2014-08-09,2014-08-21,11439,1,1,163,1503,65
818,2014-08-01 12:22:27,46,171,15334,119.4620,4539,0,2014-08-01,2014-08-02,17459,5,1,144,24,46
838,2014-09-17 18:02:52,46,171,43387,3914.9942,4539,1,2014-10-30,2014-11-04,8267,1,1,50,675,40
840,2014-09-29 17:16:00,46,171,43387,614.5652,4539,0,2015-06-29,2015-07-02,8788,1,1,77,2,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37669592,2013-04-16 11:39:01,66,448,25538,1217.0480,1194570,1,2013-05-20,2013-05-21,8243,1,1,50,409,98
37669617,2014-06-11 13:07:18,66,196,2428,821.2940,1194570,1,2014-12-04,2014-12-07,11335,1,1,136,196,84
37669623,2013-06-11 16:53:22,182,416,21185,690.8617,1194592,0,2013-06-19,2013-06-23,100,1,1,192,2080,58
37669842,2013-07-29 10:03:01,46,414,7317,94.6031,1195757,0,2013-08-13,2013-08-14,8739,1,1,144,4,85
37669879,2013-10-09 11:23:10,66,220,8159,7712.5038,1195787,0,2013-10-27,2013-10-31,8282,1,1,126,265,67
37669881,2013-10-09 11:26:16,66,220,8159,7712.5038,1195787,0,2013-10-29,2013-10-31,52258,3,1,126,265,67
37669883,2013-10-14 09:27:57,66,220,8159,7712.5038,1195787,0,2013-10-29,2013-11-04,52258,3,1,126,265,67
37669885,2013-10-14 09:30:42,66,220,8159,7712.5038,1195787,0,2013-11-01,2013-11-04,52258,3,1,126,265,67
37669888,2013-10-21 08:00:45,66,220,8159,7712.5038,1195787,0,2013-10-31,2013-11-04,52258,3,1,126,265,67
37669891,2014-01-09 13:13:18,66,220,8159,4650.5533,1195787,0,2014-01-12,2014-01-17,10984,3,1,135,281,30
37669893,2014-01-11 06:13:21,66,220,8159,1740.5664,1195787,0,2014-01-11,2014-01-12,21645,1,1,50,653,41
37669895,2014-01-11 12:43:28,66,220,8159,473.9309,1195787,0,2014-01-11,2014-01-12,12410,5,1,50,677,48
37669898,2014-01-19 15:12:54,66,220,8159,2720.3507,1195787,0,2014-01-19,2014-01-20,12273,6,1,50,663,18
37669903,2014-01-21 15:00:02,66,220,8159,4861.0077,1195787,0,2014-01-22,2014-01-25,12548,5,1,50,212,33
37669911,2014-02-12 16:38:04,66,220,8159,1402.7473,1195787,0,2014-02-14,2014-02-17,1019,1,1,119,2065,38
37669913,2014-03-06 15:05:12,66,220,8159,1738.0744,1195787,0,2014-03-08,2014-03-09,17264,5,1,50,653,7
37669918,2014-05-28 12:04:04,66,220,8159,4932.6339,1195787,0,2014-07-03,2014-07-06,8806,1,1,105,22,58
37669934,2014-08-05 08:10:38,66,220,8159,2595.9738,1195787,0,2014-10-03,2014-10-04,24126,6,1,50,363,73
37669936,2014-08-05 08:27:32,66,220,8159,2595.9738,1195787,0,2014-10-03,2014-10-04,8838,1,1,50,363,73
37669948,2014-11-29 06:43:51,66,220,8159,988.3810,1195787,0,2014-12-03,2014-12-04,7000,3,1,50,1058,47
37670027,2014-02-19 18:59:19,1,229,36480,115.2412,1197008,0,2014-02-28,2014-03-01,18046,1,1,105,1808,81
37670070,2013-04-05 23:45:12,77,462,3492,2047.0196,1197030,0,2013-04-08,2013-04-09,20896,6,1,63,1258,98
37670177,2013-11-09 00:14:09,77,871,36643,1558.0743,1197569,0,2013-12-22,2013-12-23,8792,1,1,34,55,90
37670236,2014-08-03 09:29:24,205,155,19334,54.1568,1197813,0,2014-08-03,2014-08-04,5950,3,1,198,399,49
37670266,2013-06-21 09:53:08,205,135,27655,1181.4133,1198099,1,2013-07-02,2013-07-06,12267,6,1,50,1230,91
37670275,2013-10-22 22:07:42,66,174,26232,113.0804,1198182,0,2013-10-23,2013-10-24,24144,6,1,50,967,7
37670277,2013-10-30 15:34:11,66,174,24103,254.2758,1198182,0,2013-10-30,2013-10-31,24144,6,1,50,967,42
37670281,2014-01-27 15:02:51,66,174,26232,535.0339,1198182,1,2014-02-23,2014-02-27,8273,1,1,50,660,68
37670285,2014-07-15 10:37:42,66,174,26232,649.6568,1198182,0,2014-07-27,2014-07-28,18811,1,1,50,592,77
37670292,2014-09-18 08:52:42,66,462,12565,106.4274,1198182,0,2014-09-18,2014-09-19,18811,1,1,50,592,42

In [23]:
train.shape

(1985514, 15)

In [24]:
train.columns

Index([u'date_time', u'user_location_country', u'user_location_region',
       u'user_location_city', u'orig_destination_distance', u'user_id',
       u'is_package', u'srch_ci', u'srch_co', u'srch_destination_id',
       u'srch_destination_type_id', u'is_booking', u'hotel_country',
       u'hotel_market', u'hotel_cluster'],
      dtype='object')